.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.title {
  color: #2c2c2e;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.1;
}

.subtitle {
  color: #48484a;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
}
